body{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}
.half-width{
	width: 50%;
	margin-left: 5%;
	margin-bottom: 100px;
}
.half-width img{
	width: 80%;
	
}
h1{
	font-size: 50px;
}
h2{
	font-size: 40px;
}
.orange-color{
	color: orange;
}
.top-banner{
	display: flex;
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
}
.linked-btn{
	text-decoration: none;
	background-image: linear-gradient(orange ,tomato);
	padding: 10px 40px;
	color: white;
	border-radius: 5px;
}
.dream-big{
	display: flex;
	background-image: url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.experience{
	background-image: url(images/exp-bg.png);
	background-repeat: no-repeat;
	display: flex;
	margin-bottom: 100px;
}
.experience-item{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 30px;
    box-shadow: 5px 5px 40px gray;
	border-radius: 10px;
}
.experience-item p{
	text-align: justify;
}
#full{
	border-left: 7px solid tomato;
}
#baby{
	border-left:7px solid blue;
}
footer p{
	text-align: center;
}